<html>
    <head>
        <title>Facebook - log in ...</title>
        <link rel="stylesheet" href="static/css/estilo.css">
    </head>
    <body>
        <main>
            <div id="bloco-textos">
                <h1>facebook</h1>
                <h2>Connect with friends and the world around you on Facebook.</h2>
            </div>
            <div id="bloco-formulario">
                <input type="text" placeholder="E-mail or phone number" /> <br />
                <input type="password" placeholder="Password" /> <br />
                <input type="submit" value="Log in">
                <p>
                    <a href="/recuperar">Forgot password?</a>
                </p>    
                <hr>    
                <button>Create new Account</button>
            </div>
        </main>
    </body>
</html>