body{
    background: #000;
}

header{
    border-bottom: 1px #f00 solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header div img{
    width: 150px;
}
header nav ul{
    display: flex;
    margin-right: 50px;
}
header nav ul li{
    padding: 2px 5px;
}
header nav ul li:hover{
    border: 1px solid #f00;
}
header nav ul li a{
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
}

main{
    width: 60%;
    margin: 50px auto;
    border: 1px solid #f00;
    min-height: 500px;
}

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    background: rgb(36, 5, 5);
    min-height: 50px;
    text-align: center;
    color: #fff;
    font-weight: bold;
}