/* CSS RESET */
body, footer, main, header, div{
    padding: 0;
    border: 0;
    margin: 0;
}

body {
    background: #ccc;
}
header{
    background: #004336;
    height: 90px;
}
main{
    background: #fff;
    width: 60%;
    margin: 50px auto 0;
    min-height: 500px;
    padding: 10px 20px;
}
footer{
    background: #011d17;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
}