<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista</title>
</head>
<body>
    <h1>Listagem pessoas</h1>
    <table>
        <thead>
            <tr>
                <th>Nome</th>
                <th>Sobrenome</th>
            </tr>
        </thead>
        <tbody>
            {% for p in lista_pessoas %}
            <tr>
                <td>{{ p['nome'] }}</td>
                <td>{{ p['sobrenome'] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>